@font-face {
    font-family: 'Proxima Nova';
    font-weight: 900;
    font-style: normal;
    src: url("/assets/proximanova-black.otf") format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 900;
    font-style: italic;
    src: url("/assets/proximanova-blackit.otf") format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 800;
    font-style: normal;
    src: url("/assets/proximanova-extrabold.otf") format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 800;
    font-style: italic;
    src: url("/assets/proximanova-extraboldit.otf") format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-style: normal;
    src: url("/assets/proximanova-bold.otf") format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    font-style: italic;
    src: url("/assets/proximanova-boldit.otf") format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-style: normal;
    src: url("/assets/proximanova-semibold.otf") format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 600;
    font-style: italic;
    src: url("/assets/proximanova-semiboldit.otf") format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 500;
    font-style: normal;
    src: url("/assets/proximanova-medium.otf") format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 500;
    font-style: italic;
    src: url("/assets/proximanova-mediumit.otf") format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-style: normal;
    src: url("/assets/proximanova-regular.otf") format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-style: italic;
    src: url("/assets/proximanova-regularit.otf") format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 300;
    font-style: normal;
    src: url("/assets/proximanova-light.otf") format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 300;
    font-style: italic;
    src: url("/assets/proximanova-lightit.otf") format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 200;
    font-style: normal;
    src: url("/assets/proximanova-thin.otf") format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 200;
    font-style: italic;
    src: url("/assets/proximanova-thinit.otf") format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 100;
    font-style: normal;
    src: url("/assets/proximanova-thin.otf") format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 100;
    font-style: italic;
    src: url("/assets/proximanova-thinit.otf") format('opentype');
}