@import "colourscheme.css";
@import "extra.css";
@import "fonts.css";

:root {
    --son-info-icon: url('../assets/info.svg')
  }
  .md-typeset .admonition.son-info,
  .md-typeset details.son-info {
    border-color: var(--amonition-border-color);
  }
  
  .md-typeset .son-info>.admonition-title,
  .md-typeset .son-info>summary {
    background-color: var(--amonition-bg-color);
    color: var(--amonition-fg-color);
  }
  
  .md-typeset .son-info>.admonition-title,
  .md-typeset .son-info>ul {
    background-color: var(--amonition-bg-color);
    color: var(--amonition-fg-color);
  }
  
  .md-typeset .admonition,
  .md-typeset details {
    background-color: var(--amonition-bg-color);
    color: var(--amonition-fg-color);
  }
  
  .md-typeset .son-info>.admonition-title::before,
  .md-typeset .son-info>summary::before {
    background-color: var(--amonition-icon-color);
    -webkit-mask-image: var(--son-info-icon);
    mask-image: var(--son-info-icon);
  }

  .md-typeset h1 {
    font-weight: light;
  }

  .md-typeset h2 {
    font-weight: bold;
  }

  .md-typeset h3 {
    font-weight: light;
  }

  .md-typeset h4 {
    font-weight: light;
  }

  thead {
    background-color: var(--amonition-bg-color);
  }

  td {
    border:  1px solid var(--amonition-bg-color);
    padding: 0.5ex 1ex !important;
  }


